.buttons-container {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.card:hover .buttons-container {
	opacity: 1;
	height: auto;
}

.btn:hover{
	color: rgb(217, 108, 0);
}