<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footer</title>
	<link rel="stylesheet" href="styles.css"> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
</head>

<body>
	<footer th:fragment="main-footer" class="bg-light text-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Footer</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p>&copy; 2023 Your Website Name</p>
				</div>
				<div class="col-md-6">
					<ul class="list-unstyled list-inline float-md-end">
						<li class="list-inline-item"><a th:href="@{/about}" class="text-dark">About Us</a></li>
						<li class="list-inline-item"><a th:href="@{/contact}" class="text-dark">Contact Us</a></li>
						<li class="list-inline-item"><a href="https://twitter.com/your_website_name" class="text-dark" target="_blank"><i class="bi bi-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://facebook.com/your_website_name" class="text-dark" target="_blank"><i class="bi bi-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://instagram.com/your_website_name" class="text-dark" target="_blank"><i class="bi bi-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>


</body>

</html>
