<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Statistics</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link th:href="@{/css-folder/statistics-css.css}" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>

	<div th:replace="fragments :: main-header"></div>

	<div class="container statistics-container">
		<h1>Statistics</h1>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h3>Total Tasks</h3>
						<span id="totalTasks" class="value" th:text="${totalTasks}">Loading...</span>
						<span class="unit"> Tasks</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h3>Total Days</h3>
						<span id="totalDays" class="value" th:text="${totalDays}">Loading...</span>
						<span class="unit"> Days</span>
					</div>
				</div>
			</div>
		</div>
		<!-- Repeat the card sections for other statistics -->
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h3>Average Tasks Per Day</h3>
						<span id="averageTasksPerDay" class="value" th:text="${averageTasksPerDay}">Loading...</span>
						<span class="unit"> Tasks</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h3>Average Tasks Per Week</h3>
						<span id="averageTasksPerWeek" class="value" th:text="${averageTasksPerWeek}">Loading...</span>
						<span class="unit"> Tasks</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h3>Total Weeks</h3>
						<span id="totalWeeks" class="value" th:text="${totalWeeks}">Loading...</span>
						<span class="unit"> Weeks</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h3>Submitted Tasks</h3>
						<span id="submittedTasks" class="value" th:text="${submittedTasks}">Loading...</span>
						<span class="unit"> Tasks</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h3>Withdrawn Tasks</h3>
						<span id="withdrawnTasks" class="value" th:text="${withdrawnTasks}">Loading...</span>
						<span class="unit"> Tasks</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h3>Task Completion Rate</h3>
						<span id="taskCompletionRate" class="value" th:text="${taskCompletionRate}">Loading...</span>
						<span class="unit"> %</span>
					</div>
				</div>
			</div>
		</div>

		<!--		<div th:replace="fragments :: main-footer"></div>
-->


</body>

</html>