<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Task List</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<style>
		.table-container {
			width: 40%;
		}

		.actions-column {
			width: 41%;
		}

		.status-column {
			width: 2%;
		}

		.status-indicator {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			display: inline-block;
			margin-left: 10px;
		}

		.gray {
			background-color: rgb(221, 221, 221);
		}

		.green {
			background-color: rgb(0, 215, 0);
		}

		.red {
			background-color: rgb(234, 0, 0);
		}

		li.inactive {
			color: #888;
			background-color: rgb(225, 225, 225);
		}

		li.submitted {
			background-color: rgb(185, 233, 255);
		}
	</style>
</head>

<body>
	<div th:replace="header :: header"></div>
	<div class="container mt-4 table-container">
		<h1 class="display-5">Task List</h1>
		<a class="btn btn-secondary" th:href="@{/tasks/task-form}">Add Task</a>
		<table class="table table-bordered  mt-4">
			<thead class="thead-dark">
				<tr>
					<th class="name-column">Name</th>
					<th class="status-column">Stat</th>
					<th class="actions-column">Actions</th>
				</tr>
			</thead>
			<tbody th:each="task : ${tasks}">
				<tr id="testid" class="hover-effect">
					<td>
						<ul class="list-group">
							<li class="list-group-item"
								th:classappend="${task.status.name() == 'WITHDRAWN' ? 'inactive' : (task.status.name() == 'DONE' ? 'submitted' : '')}">
								<span th:text="${task.name}"></span>
							</li>
						</ul>
					</td>
					<td>
						<div th:if="${task.status.name() == 'TO_DO'}" class="status-indicator gray"></div>
						<div th:if="${task.status.name() == 'DONE'}" class="status-indicator green"></div>
						<div th:if="${task.status.name() == 'WITHDRAWN'}" class="status-indicator red"></div>
					</td>
					<td class="actionsColumn">
						<button type="button" class="btn btn-success submit-button btn-sm rounded-circle actions"
							th:onclick="submitTask([[${task.id}]])"
							th:classappend="${task.status.name() == 'WITHDRAWN' or task.status.name() == 'DONE'} ? 'disabled' : ''">
							Submit
						</button>
						<button type="button" class="btn btn-danger withdraw-button btn-sm actions"
							th:onclick="withdrawTask([[${task.id}]])"
							th:classappend="${task.status.name() == 'WITHDRAWN' or task.status.name() == 'DONE'} ? 'disabled' : ''">
							Withdraw
						</button>
						<button type="button" class="btn btn-primary btn-sm actions"
							th:onclick="updateTask([[${task.id}]])"
							th:classappend="${task.status.name() == 'WITHDRAWN' or task.status.name() == 'DONE'} ? 'disabled' : ''">
							Update
						</button>

					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="editForm" class="floating-form" style="display: none;">
		<!-- Your form content -->
	</div>
	<div id="overlay" class="dark-overlay"></div>
	<script th:inline="javascript">
		
		window.addEventListener('load', function() {
            window.scrollTo(0, document.body.scrollHeight);
        });

		var colorMap = {
			"red": {background: "red", color: "white"},
			"yellow": {background: "yellow", color: "black"},
			"green": {background: "green", color: "white"}
		};

		function getRowValues(id, name, priority, status) {
			document.getElementById('taskId').value = id;
			document.getElementById('taskName').value = name;
			document.getElementById('taskStatus').value = status;
			document.getElementById('taskPriority').value = priority;

			document.getElementById('editForm').style.display = 'block';
			document.getElementById('overlay').style.display = 'block';


			editForm.scrollIntoView({behavior: 'smooth'});
		}

		function closeForm() {
			document.getElementById('editForm').style.display = 'none';
			document.getElementById('overlay').style.display = 'none';
		}

		function submitTask(taskId) {

			fetch(`/tasks/submit/${taskId}`, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({id: taskId})
			})
				.then(response => {
					if (response.ok) {
						console.log('task submitted successfully');
						window.location.reload();
					} else {
						console.error('Error submitting task');
					}
				})
				.catch(error => {
					console.error('Error: ', error);
				});

		}
		function withdrawTask(taskId) {
			fetch(`/tasks/withdraw/${taskId}`, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({id: taskId})
			})
				.then(response => {
					if (response.ok) {
						console.log('task withdrawn successfully');
						window.location.reload();
					} else {
						console.error('Error withdrawing task');
					}
				})
				.catch(error => {
					console.error('Error: ', error);
				});
		}

		function updateTask(taskId) {
			var updatedName = prompt("Enter the new name");


			fetch(`/tasks/update/${taskId}`, {
				method: 'PUT',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({name: updatedName})
			})
				.then(response => {
					if (response.ok) {
						console.log('Name updated successfully');
						window.location.reload();
					} else {
						console.error('Error updating name');
					}
				})
				.catch(error => {
					console.error('Error: ', error);
				});
		}


		function deleteTask(taskId) {


			fetch(`/tasks/delete/${taskId}`, {
				method: 'DELETE',
			})
				.then(response => {
					if (response.ok) {
						document.getElementById('testid').remove();
					} else {
						// Handle the error (e.g., show an error message)
					}
				})
				.catch(error => {
					console.error('Error:', error);
				});

			event.stopPropagation();
		}


	</script>
</body>

</html>